@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

div.container {
  width: 100vw;
  height: 100vh;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
}

form {
  display: flex;
  flex-direction: column;
  background-color: brown;
  width: 350px;
  height: 300px;
}

form input {
  width: 200px;
  height: 30px;
}