@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* Foi colocado abaixo novamente porque os campos não pegam font da Body */
input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

div.container {
  width: 100vw;
  height: 100vh;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(64, 224, 208, 0.342);
}

div.box {
  width: 400px;
}

form {
  border-left: 5px solid blue;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
}

form div {
  margin: 10px 0px;
  width: 200px;
}

form div.input {
  display: flex;
  flex-direction: column;
}

form input[type=number] {
  width: 100%;
  height: 30px;
  padding: 5px;
}


input.submit {
  text-align: center;
  cursor: pointer;
  height: 30px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}


div.result {
  background-color: cadetblue;
  border: 5px solid black;
  border-radius: 50px 0px 50px 0px;
  padding: 40px 20px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.result div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.result div span{
  justify-content: center;
  text-align: left;
  margin: 5px 0px;
}

span {
  justify-content: center;
  text-align: center;
}

span#title {
  font-size: 24pt;
  font-weight: bold;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
}

span#subtitle {
  margin-bottom: 10px;
  font-size: 16pt;
  font-weight: 600;
}

span#text {
  font-size: 12pt;
}



.opacity {
  opacity: 0%;
}

.notOpacity {
  opacity: 100%;
  transition: 2s;
}